@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Estilos personalizados */
.font-serif {
  font-family: var(--font-playfair), serif;
}

.font-sans {
  font-family: var(--font-inter), sans-serif;
}

.font-style-script {
  font-family: var(--font-style-script), cursive;
}

/* Estilos para scrollbar personalizado */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #cf0f47;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0b55;
}

/* Animaciones suaves */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
